.resources {
  display: block;
  margin: 0;
  padding: 100px 0 217px;
}

.resources__logo-zone {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  box-sizing: border-box;
  margin: 80px auto 0;
  padding: 0;
  list-style: none;
}

.resources__logo {
  margin: 0;
  width: 270px;
  height: 38px;
}