.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  overflow: hidden;
}

.header__title {
  margin: auto 64px;
  max-width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition-property: opacity;
  transition-duration: .5s;
}

.header__link:hover {
  opacity: .5;
}

.header__main-illustration {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}